body {
	font-family: 'Oxygen', sans-serif;
    line-height: 1.8;
}

/* Navbar */
.navbar {
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 20px;
    background-color: #f2f3f4 ;
    /* For a fixed nav bar */
    position: fixed;
    width: 100%;
}
.navbar-nav li a:hover {
    color: #1abc9c;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
    height: 3px;
}
.navbar-brand {
	font-size: 20px;
}

/* Section container */
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

/* Background colors and paddings */
.bg-1 {
    background-color: #4F5565; 
    color: #ffffff;
    padding-top: 150px;
}
.bg-2 {
    background-color:  #fe553d; 
    color: #ffffff;
}
.bg-3 {
    background-color: #f2f3f4;
    color: #555555;
    padding-bottom: 40px;
}

/* Footer aka social logos */
.footer {
	padding-top: 40px;
	padding-bottom: 0;
}
.footer a {
  color: #2f2f2f;
  font-size: 30px;
  padding: 10px;
  transition: all .5s ease;
}
.footer a:hover {
  color: #08B2C9;
}

/* Media only screens */
@media only screen and (max-width: 767px) {
	#tie {display:none!important;}
}